@font-face {
    font-family: 'Space-Grotesk' ;
    src: url('font/SpaceGrotesk-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Space-Grotesk' ;
    src: url('font/SpaceGrotesk-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Space-Grotesk' ;
    src: url('font/SpaceGrotesk-Medium.woff2');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}