@font-face {
    font-family: 'Space-Grotesk' ;
    src: url('font/SpaceGrotesk-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Ag' ;
    src: url('/fonts/agfutura.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ag-Bold' ;
    src: url('/fonts/agfuturabold.ttf');
    font-weight: 700px;
    font-style: normal;
    font-display: swap;
}